In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:/Users/hp/Desktop/Datasets/survey.csv",index_col="Respondent")
sch=pd.read_csv("C:/Users/hp/Desktop/Datasets/schemaa.csv")
df.head(6)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult

In [3]:
dff=df[['MainBranch','Country','OpenSource','UndergradMajor']].head(7)
dff.UndergradMajor.fillna(value="aaa",inplace=True)
dff

,MainBranch,Country,OpenSource,UndergradMajor
Respondent,,,,
1,I am a student who is learning to code,United Kingdom,The quality of OSS and closed source software ...,aaa
2,I am a student who is learning to code,Bosnia and Herzegovina,The quality of OSS and closed source software ...,aaa
3,"I am not primarily a developer, but I write co...",Thailand,The quality of OSS and closed source software ...,Web development or web design
4,I am a developer by profession,United States,The quality of OSS and closed source software ...,"Computer science, computer engineering, or sof..."
5,I am a developer by profession,Ukraine,"OSS is, on average, of HIGHER quality than pro...","Computer science, computer engineering, or sof..."
6,"I am not primarily a developer, but I write co...",Canada,The quality of OSS and closed source software ...,Mathematics or statistics
7,I am a developer by profession,Ukraine,The quality of OSS and closed source software ...,"Another engineering discipline (ex. civil, ele..."

In [4]:
dff.index

Int64Index([1, 2, 3, 4, 5, 6, 7], dtype='int64', name='Respondent')

In [5]:
dff.columns

Index(['MainBranch', 'Country', 'OpenSource', 'UndergradMajor'], dtype='object')

In [6]:
df.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [7]:
df["BetterLife"].value_counts()

Yes    54938
No     31331
Name: BetterLife, dtype: int64

In [8]:
#df.sort_index(ascending=True,axis=1)

In [9]:
#filt=(df["Gender"]=="Man") & (df["Country"]=="Pakistan") & (df["Student"]=="No")

In [10]:
#df.loc[-filt]

In [11]:
#fill2=df["OpenSourcer"].str.contains("Nev",na=False)

In [12]:
#df.loc[fill2,["OpenSourcer"]]

In [13]:
inds=df["SocialMedia"].value_counts()
inds

Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5554
LinkedIn                     4501
WeChat 微信                     667
Snapchat                      628
VK ВКонта́кте                 603
Weibo 新浪微博                     56
Youku Tudou 优酷                 21
Hello                          19
Name: SocialMedia, dtype: int64

In [14]:
infil=(df["Country"]=="India") 
dfind=df.loc[infil,["SocialMedia"]]
dfind

                         SocialMedia
Respondent
8                            YouTube
10                           YouTube
15                           YouTube
50                           YouTube
65                          WhatsApp
...                              ...
77339                        YouTube
79795                      Instagram
83862                        Twitter
84299                       LinkedIn
86012       I don't use social media

[9061 rows x 1 columns]

In [15]:
(dfind["SocialMedia"].value_counts(normalize=True,dropna=True))*100

WhatsApp                    34.237948
YouTube                     20.840490
LinkedIn                    10.935532
Facebook                     9.630139
Instagram                    9.412573
Twitter                      6.206344
Reddit                       5.416237
I don't use social media     2.862705
Snapchat                     0.263369
WeChat 微信                    0.057254
Hello                        0.057254
VK ВКонта́кте                0.045803
Youku Tudou 优酷               0.022902
Weibo 新浪微博                   0.011451
Name: SocialMedia, dtype: float64

In [16]:
grpp=df.groupby(["Country"])

In [17]:
grpp["SocialMedia"].value_counts().loc["Pakistan"]

SocialMedia
WhatsApp                    266
Facebook                    232
YouTube                     182
LinkedIn                     71
Twitter                      58
Instagram                    41
Reddit                       28
I don't use social media     23
Snapchat                      5
Hello                         1
VK ВКонта́кте                 1
Name: SocialMedia, dtype: int64

In [18]:
grpp["ConvertedComp"].agg(["mean","count"])

                                               mean  count
Country
Afghanistan                           101953.333333     12
Albania                                21833.700000     50
Algeria                                34924.047619     42
Andorra                               160931.000000      2
Angola                                  7764.000000      1
...                                             ...    ...
Venezuela, Bolivarian Republic of...   14581.627907     43
Viet Nam                               17233.436782     87
Yemen                                  16909.166667      6
Zambia                                 10075.375000      8
Zimbabwe                               34046.666667     15

[179 rows x 2 columns]

In [19]:
sch.sort_values(["Column"]).head(25)

                    Column                                       QuestionText
77                     Age  What is your age (in years)? If you prefer not...
14              Age1stCode  At what age did you write your first line of c...
58              BetterLife  Do you think people born today will have a bet...
57            BlockchainIs  Blockchain / cryptocurrency technology is prim...
56           BlockchainOrg  How is your organization thinking about or imp...
16               CareerSat  Overall, how satisfied are you with your caree...
38                 CodeRev           Do you review code as part of your work?
39              CodeRevHrs  On average, how many hours per week do you spe...
30                CompFreq   Is that compensation weekly, monthly, or yearly?
29               CompTotal  What is your current total compensation (salar...
55              Containers  How do you use containers (Docker, Open Contai...
31           ConvertedComp  Salary converted to annual USD salaries using ...
6                  Country          In which country do you currently reside?
28            CurrencyDesc  Which currency do you use day-to-day? If your ...
27          CurrencySymbol  Which currency do you use day-to-day? If your ...
46  DatabaseDesireNextYear  Which of the following database environments h...
45      DatabaseWorkedWith  Which of the following database environments h...
82              Dependents  Do you have any dependents (e.g., children, el...
53              DevEnviron  Which development environment(s) do you use re...
12                 DevType  Which of the following describe you? Please se...
8                  EdLevel  Which of the following best describes the high...
10                EduOther  Which of the following types of non-degree edu...
5               Employment  Which of the following best describes your cur...
73                EntTeams  Have you ever used Stack Overflow for Enterpri...
81               Ethnicity  Which of the following do you identify as? Ple...

In [20]:
cntry=df["Country"].value_counts()
cntry

United States        20949
India                 9061
Germany               5866
United Kingdom        5737
Canada                3395
                     ...
Tonga                    1
Timor-Leste              1
Dominica                 1
North Korea              1
Brunei Darussalam        1
Name: Country, Length: 179, dtype: int64

In [21]:
dd=grpp["LanguageWorkedWith"].apply(lambda x:x.str.contains("Python").sum())
dd

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [22]:
dff=pd.concat([cntry,dd],axis=1,sort=True)
dff

                                      Country  LanguageWorkedWith
Afghanistan                                44                   8
Albania                                    86                  23
Algeria                                   134                  40
Andorra                                     7                   0
Angola                                      5                   2
...                                       ...                 ...
Venezuela, Bolivarian Republic of...       88                  28
Viet Nam                                  231                  78
Yemen                                      19                   3
Zambia                                     12                   4
Zimbabwe                                   39                  14

[179 rows x 2 columns]

In [23]:
dff.rename(columns={"Country":"Programmers","LanguageWorkedWith":"NumPython"},inplace=True)
dff

                                      Programmers  NumPython
Afghanistan                                    44          8
Albania                                        86         23
Algeria                                       134         40
Andorra                                         7          0
Angola                                          5          2
...                                           ...        ...
Venezuela, Bolivarian Republic of...           88         28
Viet Nam                                      231         78
Yemen                                          19          3
Zambia                                         12          4
Zimbabwe                                       39         14

[179 rows x 2 columns]

In [24]:
dff["percentage"]=(dff["NumPython"]/dff["Programmers"])*100
dff

                                      Programmers  NumPython  percentage
Afghanistan                                    44          8   18.181818
Albania                                        86         23   26.744186
Algeria                                       134         40   29.850746
Andorra                                         7          0    0.000000
Angola                                          5          2   40.000000
...                                           ...        ...         ...
Venezuela, Bolivarian Republic of...           88         28   31.818182
Viet Nam                                      231         78   33.766234
Yemen                                          19          3   15.789474
Zambia                                         12          4   33.333333
Zimbabwe                                       39         14   35.897436

[179 rows x 3 columns]

In [25]:
df.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [32]:
df["Age"].fillna(df["Age"].mean(),inplace=True)
ages=df["Age"]

In [34]:
ages.ravel()

array([14.        , 19.        , 28.        , ..., 30.33669865,
       30.33669865, 18.        ])